

@font-face {
    font-family: "harry_pregular";
    src: url('./img/HARRYP__.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "fuente_2";
    src: url('./img/Alegreya-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
#portada {

  text-align: left;
}
#inicio {
display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 20%;
    margin-left: 20%;
    background-color: rgba(95, 158, 160, 0.49);
    border: 8px solid #daeeff78;
    border-radius: 10%;
    margin-top: 4%;
}
h1 {
  font-family: harry_pregular;
  text-align: center;
  color: #ffffff;
  font-size: 75px;
}

h2 {
  font-family: fuente_2;
  color: #06212d;;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

#ingresar {
  display: flex;
  background-color: #164358;
  height: 70px;
  width: 20%;
  border-radius: 10%;
  font-size: 20px;
  border: 2px solid #06212d;;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 0.4s;
  justify-content: center;
  margin-left: 41%;
  margin-top: 8%;
}

#ingresar:hover {
  color: #ffffff;
  background-color: #1c5671;
}
#fondo{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  visibility: visible;
  background-color: #404863;
}

.contenedor {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.filtro {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #404863;
  width: 23%;
  height: 96%;
  margin-top: 0.7%;
}

#logo {
 height: auto;
  width: 67%;
  margin-top:13px;
}
aside {
  width: -moz-available;
  margin: 10px;

}

.contenedorTarjetas {
  display: flex;
  flex-direction: column;
  margin-left: 24.5%;
  width: 75%;
}

.botonesAside {
  display: flex;
  flex-direction: row;
  height: 20%;
  font-size: 60%;
  font: caption;
}

.seleccion {
  background-color: rgb(136, 136, 226);
}

.botones {
      display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  background-color: #16325B;
  height: 10%;
  font-size: 60%;
  font: caption;
  width: 100%;
  color: white;
  text-align: left;
  border: 1px solid #404863;
}
option {
    font-weight: normal;
    display: block;
    background: #3f659dc9;
}

.botonRol {
  background-color: #16325B;;
  height: 84%;
  font-size: 60%;
  font: caption;
  margin-top: 4px; 
  margin-left: 17px;
  width: 26%;
  color: white;
  border: 1px solid #404863;
}

.busqueda {
  height: 10%;
  font-size: 60%;
  margin-left: 37%;
  margin-top: 2%;
}
#video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -10;
  visibility: visible;
}

footer {

  left: 0;
  bottom: 0;
  width: 100%;
  color: #634a25;
  text-align: center;
}

.imagePersonaje{
  display: flex;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
  width:189px;
    height: 266px;
  border-radius: 18px;
  border: 2px solid #000000bf;
  margin: 8%;
  cursor: pointer;
}
#contenido {
  margin: 2%;
}

#tarjetas{
  display: flex;
  flex-wrap:wrap;
  padding-left: 8%;
}

.nombre{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: #16325B;
  border: 1px solid #ffffff7a;
  height: 8%;
  border-radius: 10%;

}
.contenedorM {
  position: fixed;
  width: 100%;
  height: 100vh;
  top:0;
  left: 0; 
  background:rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visivility 0s opacity 0,5s;
}
.contenedorMActivo{
    visibility: visible;
    opacity: 1;
}
.modal{
    position: relative;
    background: burlywood;
    width: 29%;
    height: 69%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#parrafo {
    color: blue;
}
.close{
    position:absolute;
    top:10px;
    right:10px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 426px){
.contenedor {
  display: flex;
  flex-direction: row;
}

.contenedorTarjetas {
  display: flex;
  flex-direction: column;
  margin-left: 24.5%;  
}

.botonesAside {
  z-index: 1;
  font: caption;
  margin-left: 60px;
}

.botonRol {
  background-color: #16325B;

  font: caption;
  margin-top: 4px; 
  margin-left: 17px;
  width: 90px;
  color: white;
  border: 1px solid #404863;
}

.busqueda {
  height: 10%;
  font-size: 60%;
  margin-left: 37%;
  margin-top: 2%;
  background-color: #16325B;
}
.botones{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #16325B;
  height: 16%;
  font-size: 50%;
  font: caption;
  width: 100%;
  text-align: left;
  border: 1px solid #404863;
  }

#tarjetas {
  display: flex;
  flex-wrap: wrap;
  padding-left: 35%;
}
.filtro {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #404863;
  width: 31%;
  height: 96%;
  margin-top: 0.7%;
}

}


 
