* {
  margin: 0;
  padding: 0;
  ;
}

@font-face {
  font-family: "harry_pregular";
  src: url('./img/HARRYP__.TTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fuente_2";
  src: url('./img/Alegreya-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

#video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  visibility: visible;
}

#portada {
  text-align: left;
}

#inicio {
  display: flex;
  flex-direction: column;
  background-color: rgba(95, 158, 160, 0.49);
  border: 8px solid #daeeff78;
  border-radius: 10%;
  z-index: 2;
  position: relative;
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 3%;
  padding: 4%;
}

h1 {
  font-family: harry_pregular;
  text-align: center;
  color: #ffffff;
  font-size: 75px;
}

h2 {
  font-family: fuente_2;
  color: #06212d;
  ;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

h3 {
  font-family: fuente_2;
  color: #e4e4e4;
  display: flex;
  font-size: 22px;
  word-spacing: 3px;
  border: 2px solid #393956;
  background: #63617f;
  padding: 2%;
}

#ingresar {
  display: flex;
  background-color: #164358;
  height: 85px;
  width: 25%;
  justify-content: center;
  font-size: 26px;
  border: 2px solid #06212d;
  color: #ffffff;
  transition-duration: 0.4s;
  margin-right: auto;
  margin-left: auto;
  margin-top: 7%;
  border-radius: 10%;
  cursor: pointer;
}

#ingresar:hover {
  color: #ffffff;
  background-color: #1c5671;
}

article label{
  display: none;
}
.menu{
position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #404863;
  width: 23%;
  height: 96%;
  margin-top: 0.7%;
}

#btn-menu{
display:none;
}
#casas{
  width: 100%;
}
.menu .items label {
position: relative;
background: #16325b;
width: 93%;
height: 40px;
padding: 10px;
display: flex;
border: 1px solid #717171;
color: white;
align-items: center;
margin: 0;
}


.menu .items label:hover {
background: #155288;

}

.menu .items label span {
position: absolute;
top: 40%;
right: 19px;
}

.menu .items ul {
width: 100%;
list-style: none;
overflow: hidden;
max-height: 0;
transition: all .4s linear;
}

.menu .items ul li a {
width: 100%;
height: 17px;
padding: 10px;
display: block;
text-decoration: none;
background-color: #3f659dc9;
color: white;
border: 1px solid rgba(158, 158, 158, 0.76);

}

.menu .items ul li a:hover {
background: #155288;
}

.menu .items input:checked~ul {
height: auto;
max-height: 200px;
transform: all;
}

.menu .items input {
display: none;
}


#fondo {
  position: fixed;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
  visibility: visible;
  background-color: #404863;
}

.contenedor {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.filtro {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #404863;
  width: 23%;
  height: 96%;
  margin-top: 0.7%;
}

#logo {
  height: auto;
  width: 67%;
  margin-top: 13px;
}

aside {
  width: -moz-available;
  margin: 10px;
}

.contenedorTarjetas {
  display: flex;
  flex-direction: column;
  margin-left: 24.5%;
  width: 75%;
}

.botonesAside {
  display: flex;
  flex-direction: row;
  height: 20%;
  font-size: 60%;
  font: caption;
  margin-top: 5%;
}

.seleccion {
  background-color: rgb(136, 136, 226);
}

.botones {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #16325B;
  height: 10%;
  font-size: 60%;
  font: caption;
  width: 100%;
  color: white;
  text-align: left;
  border: 1px solid #404863;
  margin: 4%;
}

option {
  font-weight: normal;
  display: block;
  background: #3f659dc9;
}

.botonRol {
  background-color: #16325B;
  height: 84%;
  font-size: 60%;
  font: caption;
  margin-top: 4px;
  color: white;
  border: 1px solid #404863;
  margin-left: 3%;
  width: 18%;
}

.botonOrden {
  background-color: #16325B;
  height: 84%;
  font-size: 60%;
  font: caption;
  margin-top: 4px;
  color: white;
  border: 1px solid #404863;
  margin-left: 3%;
  width: 18%;
}

.busqueda {
  height: 10%;
  font-size: 60%;
  margin-left: 37%;
  margin-top: 2%;
}


footer {

  left: 0;
  bottom: 0;
  width: 100%;
  color: #634a25;
  text-align: center;
}

.imagePersonaje {
  display: flex;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
  width: 189px;
  height: 266px;
  border-radius: 18px;
  border-right: 2px solid #ffffff7d;
  border-bottom: 2px solid #ffffffa6;
  border-left: 2px solid #000000de;
  border-top: 2px solid #000000d9;
  margin: 9%;
  cursor: pointer;
}


#contenido {
  margin-top: 4%;
  display: flex;
  flex-direction: column-reverse;
  margin: 2%;
}

#tarjetas {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;

}

.nombre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: #63617f;
  border: 3px solid #2a2b6382;
  height: 40px;
  border-radius: 10%;
  width: 92%;
  margin-left: 12%;
  margin-top: -2%;
}


.contenedorM {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visivility 0s opacity 0, 5s;
}

.contenedorMActivo {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: relative;
  /* background: burlywood; */
  width: 100%;
  height: 100%;
  z-index: 1;
}

.contenedorimg {
  position: relative;
  background: burlywood;
  width: 29%;
  height: 69%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.foto {
  position: absolute;
  width: 27%;
  height: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 4;
  margin-top: 25%;
}

#parrafo {
  color: #404040;
  position: absolute;
  z-index: 2;
  margin-top: 70%;
}

.close {
  position: absolute;
  top: 10%;
  right: 10%;
  font-weight: bold;
  cursor: pointer;
  z-index: 3;
}

#imagenVarita {
  display: flex;
  width: 100%;
  height: 177px;
  border: 2px solid #000000d9;

}

#varitas {
  display: flex;
  flex-wrap: wrap;
  margin-right: 4%;
  margin-top: 7%;
}

.varitas {
  padding: 13%;
  color: white;
  height: 11%;
  width: 68%;
  display: flex;
  border: 3px solid #2a2b6382;
  background: #63617fe3;
  align-items: center;
  font-size: 15px;
  line-height: 80%;
  border-radius: 4%;
  margin-top: 2%;
  margin-left: 6%;
}

.contenedorVarita {
  height: auto;
  width: 28%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-top: 2%;
  margin-left: 4%;
  /*border: 2px solid red;*/
}

#divimgVaritas {
  display: flex;
  flex-wrap: wrap;
  padding-left: 6%;
}

/*patronus*/
#mostrarPatronus {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1%;
  margin-left: 2%;
}

#contenedorPatronus {
  width: 30%;
  display: flex;
  flex-direction: column-reverse;
}

#contenedorImagen {
  text-align: center;
}

#imagenPatronus {
  display: flex;
  width: 75%;
  height: auto;
  border: 2px solid #000000d9;

}

.patronusP {
  padding: 11%;
  color: white;
  height: 4%;
  width: 53%;
  display: flex;
  border: 3px solid #2a2b6382;
  background: #63617fe3;
  align-items: center;
  font-size: 15px;
  line-height: 80%;
  border-radius: 4%;
  margin-top: 2%;
}

@media (max-width: 426px) {
  #video {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: auto;
    visibility: visible;
    display: flex;
    flex-wrap: wrap;
  }

  #portada {
    text-align: left;
  }

  #inicio {
    display: flex;
    flex-direction: column;
    background-color: rgba(95, 158, 160, 0.49);
    border: 8px solid #daeeff78;
    border-radius: 10%;
    z-index: 2;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 24%;
    padding: 5%;
  }

  h1 {
    font-family: harry_pregular;
    text-align: center;
    color: #ffffff;
    font-size: 42px;
  }

  h2 {
    font-family: fuente_2;
    color: #06212d;
    ;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }

  h3 {
    font-family: fuente_2;
    color: #e4e4e4;
    display: flex;
    font-size: 14px;
    word-spacing: 3px;
    border: 2px solid #393956;
    background: #63617f;
    padding: 3%;
    margin-left: 10%;
    margin-top: -1.6%;
    width: 83%;
    height: 29px;
  }

  #ingresar {
    display: flex;
    background-color: #164358;
    height: 39px;
    width: 53%;
    font-size: 12px;
    border: 2px solid #06212d;
    color: #ffffff;
    transition-duration: 0.4s;
    margin-right: auto;
    margin-left: auto;
    margin-top: 7%;
  }

  #contenedor {
    display: flex;
    flex-direction: row;
  }

  .contenedorTarjetas {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    width: 100%;
  }

  .botonesAside {
    z-index: 0;
    font: caption;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
  }

  .botonRol {
    background-color: #16325B;
    font: caption;
    width: 78%;
    padding: 2%;
    color: white;
    border: 1px solid #404863;
  }

  .botonOrden {
    background-color: #16325B;
    font: caption;
    width: 78%;
    padding: 2%;
    color: white;
    border: 1px solid #404863;
  }

  .busqueda {
    height: auto;
    width: 77%;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: auto;
  }

  .botones {
    display: flex;
    background-color: #16325B;
    height: 8%;
    font-size: 87%;
    width: 100%;
    text-align: left;
    border: 1px solid #404863;
    margin: 3%;
  }

  #tarjetas {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15%;
  }

  .filtro {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #404863;
    width: 31%;
    height: 96%;
    margin-top: 0.7%;
  }

  .contenedorM {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visivility 0s opacity 0, 5s;
  }

  .contenedorMActivo {
    visibility: visible;
    opacity: 1;
  }

  .modal {
    position: relative;
    width: auto;
    height: 100%;
    z-index: 1;
  }

  .contenedorimg {
    position: relative;
    background: burlywood;
    width: 29%;
    height: 69%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 27%;
  }

  #contenido {
    height: auto;
    width: 62%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 4%;
    margin-left: -14%;
  }


  .nombre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: #63617f;
    border: 3px solid #2a2b6382;
    height: 40px;
    border-radius: 10%;
    width: 57%;
    margin-left: 15%;
    margin-top: -4%;
  }

  .imagePersonaje {
    display: flex;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
    width: 127px;
    height: 184px;
    border-radius: 18px;
    border-right: 2px solid #ffffff7d;
    border-bottom: 2px solid #ffffffa6;
    border-left: 2px solid #000000de;
    border-top: 2px solid #000000d9;
    margin: 8%;
    cursor: pointer;
    margin-left: 13%;
  }

  .foto {
    position: absolute;
    width: 69%;
    height: 29%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 4;
    margin-top: 60%;
  }

  #parrafo {
    color: #404040;
    position: absolute;
    z-index: 2;
    font-size: 13px;
    word-spacing: 2px;
    text-align: left;
    margin-top: 160%;
  }

  .close {
    position: absolute;
    top: 39px;
    left: 128%;
    font-weight: 200;
    cursor: pointer;
    z-index: 3;
  }

  #fondo {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    visibility: visible;
    background-color: #404863;
  }

  #imagenVarita {
    display: flex;
    width: 76%;
    height: 159px;
  }

  #varitas {
    display: flex;
    flex-wrap: wrap;
        padding-left: 7%;
  }

  .varitas {
    padding: 12%;
    color: white;
    height: 11%;
width: 47%;
    display: flex;
    border: 3px solid #2a2b6382;
    background: #63617fe3;
    align-items: center;
    font-size: 15px;
    line-height: 80%;
    border-radius: 4%;
    margin-left: 6%;
    margin-top: 3%;
  }

  .contenedorVarita {
    height: auto;
    width: 86%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 2%;
    margin-left: auto;
  }

  /*patronus*/
  #mostrarPatronus {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10%;
  }

  #contenedorPatronus {
    width: 98%;
  }

  #contenedorImagen {
    text-align: center;
  }

  #imagenPatronus {
    display: flex;
    width: 58%;
    height: auto;
    margin-left: 20%;
  }

  .patronusP {
padding: 10%;
    color: white;
    width: 38%;
    display: flex;
    border: 3px solid #2a2b6382;
    background: #63617fe3;
    align-items: center;
    line-height: 80%;
    margin: 1%;
    height: 0%;
    margin-left: 78px;
  }

  .items label {
    position: relative;
    background: #16325b;
    width: 83%;
    height: 40px;
    padding: 10px;
    display: flex;
    border: 1px solid #717171;
    color: white;

  }
article{
    width: 6%;
    margin-top: 6px;
    height: 4%;
    position: fixed;
    z-index:1;
}
article label{
    display: block;
    color: white;
    padding: 45%;
    border: 2px solid #404863;
    background: #63617f;
    cursor: pointer;
    text-align: center;
    width: 74%;
    margin-left: 5%;
    margin-top: -2px;
    height: 82%;
}
.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #404863;
    width: 72%;
    height: 96%;
    margin-left: -320px;
    z-index:1;
transition: all 0.5s;
}

#btn-menu{
display:none;
}


#btn-menu:checked ~ .menu{
  margin:0;
}

}